.wrapper {
    gap: 0.5rem;

    & * {
        outline: none !important;
    }
}

.wrapperHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoIcon {
    height: 1rem;
    color: var(--secondary-text-color);
}

.legend {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & .legendItemRound {
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 10rem;
    }

    & .legendItemName {
        color: var(--secondary-text-color);
        font-size: 0.825rem;
        font-weight: 500;
        text-transform: capitalize;
    }
}

.chart {
    height: 100% !important;
    min-height: 4rem;
}

.chartSkeleton {
    width: 100%;
    min-height: 8rem;
    height: 100%;
    border-radius: var(--default-radius);
}

.axis {
    font-size: 0.5rem;
    fill: var(--secondary-text-color);
}

.grid {
    stroke: var(--primary-text-color);
    opacity: 0.05;
}

.tooltip {
    background-color: var(--block-bg-color);
    border: var(--default-border);
    border-radius: var(--default-radius);
    padding: 0.5rem;
    font-size: 0.875rem;
    display: flex;
    gap: 0.5rem;
}

.tooltipValue {
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .chart {
        min-height: 10rem;
    }
}
