# SOLARGEN-MODEL
venv/
.venv/
env/
__pycache__/
*.pyc
.cache/
.cache.sqlite
solargen-model/data/site_details.csv
solargen-model/data/solar_production.csv
solargen-model/data/summary.csv
solargen-model/data/weather_open_meteo.csv
solargen-model/data/weather_unisolar.csv

# ENVIRONNEMENTS
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
.DS_Store
Thumbs.db