.installation {
    gap: 0.75rem;
}

.mapButton {
    height: 2.25rem !important;

    & svg {
        height: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .alertMessage {
        margin-inline: 1rem;
    }
}
