.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0.5rem;
}

.trainPeriod {
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}
