.stateMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    text-align: center;

    & svg {
        --icon-size: 2rem;
        height: var(--icon-size);
        width: var(--icon-size);
    }
}

.stateMessageTitle {
    font-weight: 600;
    color: var(--primary-text-color);
    margin-top: 0.75rem;
}

.stateMessageDescription {
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
}
